@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --nav-bg: #222943;
  --body-bg: #1a202c;
  --profile-bg: #e2e8f0;
  --tw-bg-opacity: 1;
}

body {
  background: var(--profile-bg);
}
