@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:is(:after, :before) {
  box-sizing: border-box;
}
:root {
  --nav-bg: #222943;
  --body-bg: #1a202c;
  --profile-bg: #e2e8f0;
  --tw-bg-opacity: 1;
}

body {
  background: var(--body-bg);
  color: #ffff;
}

.profiles {
  width: 100%;
}
.profile_images {
  background: url(../assets/4000637.png);
  background-size: cover;
}
.grid_layout_details {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* gap: 1.4rem; */
}
.grid_sub_two {
  grid-column: 2 / span 4;
}

/* conditional syling of currently clicked button*/
.button_1,
.button_2,
.button_3 {
  text-overflow: ellipsis;
}
.button_1::after {
  content: "";
  position: absolute;
  background: rgb(236, 148, 163);
  width: calc(100% + 20px);
  left: 50%;
  height: 2px;
  bottom: -60%;
  transform: translate(-50%, -50%);
  animation: Fadein 300ms forwards ease-in-out;
  transform-origin: left;
}
.button_2::after {
  content: "";
  position: absolute;
  background: rgb(236, 148, 163);
  width: calc(100% + 20px);
  left: 50%;
  height: 2px;
  bottom: -60%;
  transform: translate(-50%, -50%);
  animation: Fadein 300ms forwards ease-in-out;
  transform-origin: left;
}
.button_3::after {
  content: "";
  position: absolute;
  background: rgb(236, 148, 163);
  width: calc(100% + 20px);
  left: 50%;
  height: 2px;
  bottom: -60%;
  transform: translate(-50%, -50%);
  animation: Fadein 300ms forwards ease-in-out;
  transform-origin: left;
}

/* animation */
@keyframes Fadein {
  from {
    transform: scaleX(0%) translate(-50%, -50%);
  }
  to {
    transform: scaleX(100%) translate(-50%, -50%);
  }
}

.list_marker::marker {
  color: rgb(99, 199, 199);
}
.table_cont {
  width: 100%;
  overflow-x: auto;
}
table {
  /* width: 100%; */
  border-collapse: collapse;
  border-spacing: 0;
}

table th {
  padding: 12px;
  font-weight: 450;
  text-align: left;
  /* border-bottom: 1px solid #9ca4ab; */
  color: #9ca4ab;
  white-space: nowrap;
}

table tr {
  border-bottom: 1px solid #9ca4ab;
}

table td {
  padding: 12px;
}

input[type="radio"] {
  display: none; /* Hide the default radio button */
}

input[type="radio"] + label {
  position: relative;
  padding-left: 3rem;
  cursor: pointer;
}

div.table_file {
  padding-left: 1rem;
}

input[type="radio"] + label::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  border: 2px solid #3e4d85;
  border-radius: 5px;
}

div.box_file {
  width: 18px;
  height: 18px;
  border: 2px solid #3e4d85;
  border-radius: 5px;
}

input[type="radio"]:checked + label::before {
  background-color: rgb(69, 201, 253);
}

@media only screen and (max-width: 1055px) {
  .grid_layout_details {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: none;
    justify-content: center;
    padding-inline: 0px;
    row-gap: 1.2rem;
    padding-bottom: 2rem;
  }
}

@media only screen and (max-width: 665px) {
  .avatar_cont {
    left: 50% !important;
    transform: translate(-50%, 0);
  }
  .grid_sub_one {
    justify-content: center;
    grid-column: 1 / span 3;
    text-align: center;
  }
  .line_dash {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  .grid_layout_details {
    padding-inline: 0.6rem !important;
  }
  :is(.button_1, .button_2, .button_3)::after {
    width: 100%;
  }
  .nav_details_flex {
    gap: 0;
    justify-content: space-between;
  }
  .nav_flex_2 {
    display: none;
  }
}
/* @media only screen and (max-width: ) {
} */
